* {
  font-family: 'Varela Round', sans-serif;
 
}
@font-face {
font-family: 'Abril Fatface', cursive;
 font-family: 'Varela Round', sans-serif;
 font-family: 'Gugi', cursive;
font-family: 'Nosifer', cursive;
font-family: 'VT323', monospace;
 src: url("https://fonts.google.com/");
 
}
#user_img {
  position: fixed;
  top: 0;
  right: 0;
  width: 6vw;
  height: 6vw;
}

#icon_img {
  top: 0;
  left: 0;
  width: 6.5vw;
  height: 6.5vw;
}

.search-bar {
  overflow: hidden;
  
}


.search-bar input[type=text] {
  background-color: #ff141479;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33vw;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar ::placeholder {
  color: #fff;
  opacity: 0.7; 
 
}
.searchbox {  
  float: left;
  }  
  input[type=text] {  
  padding: 6px;  
  margin-top: 10px;  
  font-size: 17px;  
  border: none;  
  }  
  searchbar {
  margin-top: 0%;
  justify-content: center;
  align-self: right;
  justify-items: center;

  display: inline-block;
  height: 10em;
  width: 10em;
  position: absolute;
  top: 1.5em;
  left: 33%;
  }
  .searchbox button {   
  padding: 8px;  
  margin-top: 10px;  
  margin-left: 10px;  
  background: red;  
  font-size: 20px;  
  border: none;  
  cursor: pointer;   
  }  
  .searchbox button:hover {  
  background: red;  
  }  
  form {
      background-color: #ff141479;
      width: 33vw;
      height: 44px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    input {
      all: unset;
      font: 16px system-ui;
      color: rgb(255, 255, 255);
      height: 100%;
      width: 100%;
      padding: 6px 10px;
    }
    ::placeholder {
      color: #fff;
      opacity: 0.7; 
     
    }
    .button {
     background-color: #ff0000;
     border: none;
     color: white;
     background: #b90c0c;
     width: 5em;
     height: 5em;
     text-align: center;
     align-self: center;
     text-decoration: none;
     cursor: pointer;
     display: inline-block;
     font-size: 8.8vh;
     box-shadow: 0 .5em .2em rgba(0, 0, 0, 0.2);
   }
   .sort{
    display: inline-block;
    position: relative;
    padding: .3em;  
      margin-top: .2em;  
      margin-left: .2em;
      margin-right: .2em;
      margin-bottom: .2em;  
      align-self: center;
      background: rgba(156, 5, 5, 0.801);  
      font-size: 1rem;  
      color: rgb(255, 255, 255);
      border: none;  
      cursor: pointer; 
    width: 4em;
    height: 34px;
   }
   .logoImg {
    position:fixed;
    justify-items: end;
    padding-left: .2em;
    padding-right: 5em;
    top: 1.2em;
    width: 8%;
    left: 0vw;
  }
  .logoText {
     position:absolute;
     height: 10em;
     width: 15em;
     justify-items: begin;
     padding-left: 2.6em;
     padding-right: 8em;
     top: 0em;
     margin-top: 0%;
     padding-top: .2%;
     left: 0vw ;
     font-style: oblique;
   }
   h4{
    font-family: 'Abril Fatface', cursive;
   font-size: 5vh;
    text-decoration: wavy;
    color: black;
    margin-left: 8%;
    top: 0em;
    margin-top: 9%;
    padding-top: 0%;
 }
 .logoImg:hover{
  opacity: 0.8;
}
.user-portal:hover{
  opacity: 0.8;
}
.shuffle{
  position: absolute;
  justify-self: right;
  margin-top: 3.7vh;
  margin-right: 0vw;
  margin-left: 80%;
  padding-left: 3vw;
  top: .2em;
  background-color:none;
}
.user-portal{
  position: fixed;
  justify-self: right;
  margin-right: 0vw;
  margin-left: 87%;
  padding-left: 3em;
  top: 1em;
  background-color:none;
}
.shuffle:hover{
  opacity: 0.8;
}
sideBar {
  display: grid;
  justify-items: begin;
  padding-left: .2em;
  position: fixed;
  width: 5em;
  left:0vw;
}
.vert-navigation{
  font-family: 'Varela Round', sans-serif;
  background: #b90c0c;
   position: fixed;
   width: 5.5em;
   height: 95%;
   padding-top: 0%;
   top: 5.5em; /*keeps side bar from reaching logo*/
 }
body>sideBar h2{
  font-family: 'Varela Round', sans-serif;
  color: rgb(210, 205, 205);
  font-size: 4vh;
  margin-top: 3vh;

}
h2{
  font-size: 3vh;
}
body>sideBar a {
  font-family: 'Varela Round', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

main {
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin-left: 8em;
}
